/* Overlay for the cart sidebar */
.cart-sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999;
}

.cart-sidebar {
    width: 300px;
    height: calc(100% - 120px);
    position: fixed;
    right: 0;
    top: 80px;
    padding: 20px;
    background-color: #f7f7f7;
    border-left: 1px solid #e0e0e0;
    overflow-y: auto;
    z-index: 1001;
    padding-bottom: 200px;
    border: 2px solid #a3a9b1;
}

/* Close button styling */
.close-sidebar-btn,
.clear-cart-btn,
.checkout-btn {
    background-color: transparent;
    color: #1C1F25;
    border: 2px solid #4792f3;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 100%;
}

.close-sidebar-btn:hover,
.clear-cart-btn:hover,
.checkout-btn:hover {
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    box-shadow: 4px 4px 8px #b8b8b8, -4px -4px 8px #f8f8f8;
    transform: scale(0.98);
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
}

.cart-item-image {
    width: 65px;        
    height: 65px;       
    object-fit: cover;
    margin-right: 10px;
}

.cart-item-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.cart-item h4, .cart-item p {
    margin: 0;
    padding: 0;
}

.adjust-quantity {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-top: 5px;
}

.adjust-quantity > button {
    background-color: #007BFF;
    color: #fff;
    border: 2px solid #007BFF;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

.adjust-quantity > button:first-child {
    margin-right: 10px;
}

.cart-item button:hover {
    background-color: #0056b3;
    border-color: #003c7a;
}

.cart-summary {
    position: fixed;
    bottom: 60px;
    width: 260px;
    right: 20px;
    background-color: transparent;
}

.cart-total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: bold;
    
}

.clear-cart-btn, .checkout-btn {
    width: 100%;
    padding: 10px 0;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    color: #fff;
    transition: 0.3s;
    
}

/* .clear-cart-btn {
    background-color: #e74c3c;
} */

.checkout-btn {
    /* background-color: #007BFF; */
    background-color: transparent; /* Change the background color to transparent */
    color: #1C1F25;
    border: 2px solid #a3a9b1; /* Add a border to create a button-like appearance */
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* Add transition effects */
    width: 100%;
}

/* .clear-cart-btn:hover {
    background-color: #e53935;
} */

.checkout-btn:hover {
    background-color: #007bff; /* Hover background color (blue) */
    color: #fff;
    border-radius: 5px;
    box-shadow: 4px 4px 8px #b8b8b8, -4px -4px 8px #f8f8f8;
    transform: scale(0.98);
}

.close-clear-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    gap: 2%;
}

.close-clear-buttons button {
    background-color: transparent; /* Change the background color to transparent */
    color: #1C1F25;
    border: 2px solid #a3a9b1; /* Add a border to create a button-like appearance */
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* Add transition effects */
    width: 100%;
}

.close-clear-buttons button:hover {
    background-color: #007bff; /* Hover background color (blue) */
    color: #fff;
    border-radius: 5px;
    box-shadow: 4px 4px 8px #b8b8b8, -4px -4px 8px #f8f8f8;
    transform: scale(0.98);
}


